<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form method="POST" action="/jwt/signup">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <br><br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>