<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <form action="/users/signup" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="eg:example001">
        </div>
        <br><hr>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="email@example.com">
        </div>
        <br><hr>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <br><br><hr>
        <button type="submit">Submit</button>
        <hr>
    </form>
</body>
</html>